body {
    font-family: cursive, monospace; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    padding: 32px 42px;
    background-color: #e0e3a0;
}


.container {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

input {
    padding: 8px;
    font-size: 18px;
}


p {
    margin: 0;
    color: #ff1d56;
    overflow-wrap: anywhere;
    text-align: center;
}